.landing {
  position: relative;
  display: flex;
  width: 100%;
  height: 100dvh;
  min-height: 100dvh;
  /* Stronger enforcement */
  overflow: hidden;
  background-color: #141516;
  margin-bottom: -1px;
  /* Fix potential sub-pixel rendering gaps */

  img {
    object-fit: cover;
    object-position: center;
    filter: contrast(1.15) brightness(0.95) saturate(1.1);
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,
        rgba(0, 0, 0, 0.1) 0%,
        rgba(0, 0, 0, 0) 30%,
        rgba(0, 0, 0, 0) 70%,
        rgba(0, 0, 0, 0.2) 100%);
    z-index: 1;
    pointer-events: none;
  }

  .sliderContainer {
    position: absolute;
    bottom: 0px; // Anchor to bottom
  }

  .slider {
    position: relative;
    white-space: nowrap;
  }

  .slider p {
    position: relative;
    margin: 0px;
    color: white;
    font-size: 230px;
    font-weight: 500;
    padding-right: 50px;
  }

  .slider p:nth-of-type(2) {
    position: absolute;
    left: 100%;
    top: 0;
  }

  .description {
    position: absolute;
    top: 35%;
    left: 65%;
    color: #141516;
    font-size: 24px;
    font-weight: 300;

    p {
      margin: 0px;
      margin-bottom: 10px;
    }

    svg {
      transform: scale(2);
      margin-bottom: 10px;
    }
  }

}

@media (max-width: 1024px) {
  .landing {
    .slider p {
      font-size: 150px;
    }

    .description {
      font-size: 20px;
      left: 55%;
      top: 40%;
    }
  }
}

@media (max-width: 768px) {
  .landing {
    .sliderContainer {
      bottom: 60px;
    }

    .slider p {
      font-size: 80px;
      padding-right: 20px;
    }

    .description {
      position: absolute;
      top: 120px;
      bottom: auto;
      left: 20px;
      font-size: 14px;
      color: white;

      svg {
        transform: scale(1);
        margin-bottom: 10px;

        path {
          fill: white;
        }
      }

      p {
        margin-bottom: 5px;
      }
    }
  }
}

@media (max-width: 480px) {
  .landing {
    .slider p {
      font-size: 15vw;
    }

    .description {
      bottom: 100px;
    }
  }
}