.slidingImages {
    display: flex;
    flex-direction: column;
    gap: 3vw;
    position: relative;
    margin-top: 200px;
    background-color: white;
    z-index: 1;

    .slider {
        display: flex;
        position: relative;
        gap: 3vw;
        width: 120vw;
        left: -10vw;

        .project {
            width: 25%;
            height: 20vw;
            display: flex;
            align-items: center;
            justify-content: center;

            .imageContainer {
                position: relative;
                width: 80%;
                height: 80%;

                img {
                    object-fit: cover;
                }
            }
        }
    }

    .circleContainer {
        background-color: red;
        position: relative;
        margin-top: 100px;

        .circle {
            height: 1550%;
            width: 120%;
            left: -10%;
            border-radius: 0 0 50% 50%;
            background-color: white;
            z-index: 1;
            position: absolute;
            box-shadow: 0px 60px 50px rgba(0, 0, 0, 0.748);
        }
    }
}

@media (max-width: 768px) {
    .slidingImages {
        margin-top: 100px;
        gap: 4vw;

        .slider {
            gap: 4vw;

            .project {
                width: 40%;
                height: 30vw;
            }
        }

        .circleContainer {
            margin-top: 60px;
        }
    }
}

@media (max-width: 480px) {
    .slidingImages {
        margin-top: 60px;
        gap: 5vw;

        .slider {
            gap: 5vw;

            .project {
                width: 50%;
                height: 40vw;
            }
        }

        .circleContainer {
            margin-top: 40px;

            .circle {
                box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.5);
            }
        }
    }
}